@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-5">The Planets Club</h1>
<p>
    Welcome to the the place to learn about the planets!
</p>
<p>
    To navigate in this website is easy. All you need to do is use the navigation menu at the very top of each page. From there you can choose to view any page you like. Each planet has its own page.
</p>
<p>
    If you have time, please be kind enough to take a survey and tell us what you think of this incredibly wonderful website.
</p>
<p>Below are three people who just love this website! See what they have to say!
</p>
