@{
    ViewData["Title"] = "SearchSurveys";
}

<h1>Search Surveys</h1>

<p>
    Well done. You entered the password correctly. Now search those surveys!
</p>

<a class="btn btn-primary btn-lg" asp-action="SearchByCountry">Search By Country</a>

<a class="btn btn-primary btn-lg" asp-action="SearchByRating">Search By Rating</a>

<a class="btn btn-primary btn-lg" asp-action="ListOfSurveys">View All</a>
