@{
    ViewData["Title"] = "ViewSurveys";
}

<h1>View Surveys</h1>

<p>
    On this page you can search surveys for any particular rating or for a particular country. Or you can view all the surveys.
</p>

<p>
    This page is for administrators only! Please enter the administrator password below:
</p>

<form method="post">
    <div class="form-group">
        <label class="col-form-label" for="password">Enter Password Below:</label>
        <input name="password" type="text" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary btn-lg" value="Submit Password"/>
</form>

<p>
    <em>
        <br/>Hint: The password is "password".
    </em>
</p>
