@{
    ViewData["Title"] = "ViewSurveys";
}

<h1>View Surveys</h1>
<p>
    On this page you can search surveys for any particular rating or for a particular country. Or you can view all the surveys.
</p>
