@{
    ViewData["Title"] = "WrongPassword";
}

<h1>Wrong Password!</h1>

<p>
    Oops... It looks like you entered the incorrect password. Let me give you another hint. The password is eight characters in length, the first four characters are 'pass' and the last four characters are 'word' and it is 'password'. Is that helpful?
</p>

<a class="btn btn-primary btn-lg" asp-action="ViewSurveys">Try Again</a>

<a class="btn btn-primary btn-lg" asp-action="Index">Go Home</a>
