@{
    ViewData["Title"] = "WrongPassword";
}

<h1>Wrong Password!!!</h1>

<p>
    Oops... It looks like you entered the incorrect password. Let me give you another hint. The password is eight characters in length, it starts with a 'p' and it ends with a 'd' and it is 'password'. Is that helpful?
</p>

<a class="btn btn-primary btn-lg" asp-action="ViewSurveys">Try Again</a>

<a class="btn btn-primary btn-lg" asp-action="Index">Go Home</a>
